<div>
<mat-card>
  <mat-card-title> Produto </mat-card-title>
  <mat-card-subtitle>Aqui vamos cadastrar os produtos</mat-card-subtitle>
<form action="">
  <mat-card-content align="start" floatLabel="always">
    Descrição
    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput />
    </mat-form-field>
  </mat-card-content>
  <mat-divider></mat-divider>

  <mat-card-content align="start" floatLabel="always">
    Unidade de Medida
    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput />
    </mat-form-field>
  </mat-card-content>
  <mat-divider></mat-divider>

  <mat-card-content align="start" floatLabel="always">
    Valor Unitário
    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput />
    </mat-form-field>
  </mat-card-content>
  <mat-divider></mat-divider>

  <mat-card-content align="start" floatLabel="always">
    Status
    <mat-form-field>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value=true>Ativo</mat-radio-button>
        <mat-radio-button value=false>Inativo</mat-radio-button>
      </mat-radio-group>
    </mat-form-field>
  </mat-card-content>

  <section class="example-section">
  <mat-checkbox class="example-margin">Check me!</mat-checkbox>
  <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox>
</section>
</form>
</mat-card>

</div>
