<div class="card">
  <mat-card>
    <mat-toolbar>
      <span class="title-customer-form">Edição de Produto</span>
    </mat-toolbar>

    <mat-card>
      <form action="" #f="ngForm" class="formD">
        <div class="form-group">
          <label for="produto">Descrição</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="produto.descricao"
            id="desc"
            name="desc"
          />
        </div>

        <div class="form-group">
          <label for="valor">Valor</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="produto.valor"
            name="valor"
            id="valor"
          />
        </div>

        <br />
        <br />

        <mat-slide-toggle [(ngModel)]="produto.status" name="status" id="Status"
          >Ativo</mat-slide-toggle
        >

        <br />

        <button mat-raised-button (click)="atualizar()">Salvar</button>
        <button mat-raised-button>Cancelar</button>
      </form>
    </mat-card>
  </mat-card>
</div>
