<div class="card">
  <mat-card>
    <mat-toolbar>
      <span class="title-endereco">Pedido</span>
    </mat-toolbar>
  </mat-card>
  <br />

  <form action="" #f="ngForm" class="formD">
    <div class="form-group">
      <label for="pedido">Cliente</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="pedido.cliente"
        id="desc"
        name="desc"
      />
    </div>

    <!-- <div class="form-group">
      <label for="pedido">Endereço</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="pedido.endereco"
        id="desc"
        name="desc"
      />
    </div> -->

    <div class="form-group">
      <label for="pedido" id="data">Data</label>

      <input
        class="form-control"
        type="date"
        name="pedido.data"
        value="<? = $conta ['pedido.data']->format('dd-mm-YYYY') ?>"
      />
      <!-- type="text"
        class="form-control"
        [(ngModel)]="pedido.data"
        name="valor"
        id="valor"
        let dt of pedido_data [value]="pedido_data">{{pedido.data}} -->
    </div>

    <div class="form-group">
      <label for="pedido">Valor Total</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="pedido.valor"
        name="valor"
        id="valor"
        currency="BRL"
      />
    </div>

    <div class="form-group">
      <label for="pedido">Situação</label>

      <select
        class="form-control"
        id="situacao"
        required
        [(ngModel)]="pedido.situacao"
        name="situacao"
      >
        <option *ngFor="let stat of status" [value]="stat">
          {{ stat == "True" ? "Ativo" : "Inativo" }}
        </option>
      </select>
    </div>

    <br />

    <button mat-raised-button (click)="savePedido()">Salvar</button>
    <button mat-raised-button>Cancelar</button>
  </form>
</div>
