<div class="card text-center m mt-100px mb-100px" id="catalogo">
    <div class="card-body">
      <h4 class="card-title fs-2 " id="catalogo-texto">Nosso Catálogo de Produtos</h4>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
        <ng-container *ngFor="let item of productList">
            <div class="card col-md-3">
                <img src="" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
                <p><strong>Price:</strong> ${{item.preco}}</p>
                <button class="btn btn-primary" (click)=addParaCarrinho(item)>Add to cart</button>
            </div>
        </ng-container>

    </div>
</div>