<nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img width= 50px height= 50px src="assets\img\logo-white.png">
      </a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink='home'>Home</a>
          </li>
          <!--Colocar aqui o link para a pagina de cadastro de produtos-->
          <li class="nav-item">
            <a class="nav-link active" href="#homeprodutos">Produtos</a>
          </li>

         <!--Colocar aqui o link para a pagina de cadastro de pedidos-->
          <li class="nav-item">
            <a class="nav-link active" routerLink='orderList'>Pedidos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink='customerForm'>Cadastro de clientes</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" routerLink='cadastroProduto'>Cadastro de produtos</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

