<p>
  <mat-toolbar color="primary">
    <span>Home</span>
    <span class="example-spacer"></span>
    <span>Produtos</span>
    <span>Pedidos</span>
  </mat-toolbar>
</p>
<p>
  <mat-card>Pedido / Finalizar Compra</mat-card>
</p>
<!-- <p>
  <table mat-table [dataSource]="myDataArray">
    <ng-container matColumnDef="cliente">
      <th mat-header-cell *matHeaderCellDef> Cliente </th>
      <td mat-cell *matCellDef="let user"> {{user.cliente}} </td>
    </ng-container>
  </table>
</p> -->










<router-outlet></router-outlet>
