<div class="card">
<mat-card>
  <mat-toolbar>
    <span class="title-customer-form">Cadastro de Clientes</span>
  </mat-toolbar>
  <mat-card>

  <form action="" class="formD">
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" [(ngModel)]="cliente.nome" name="nome" id="nome">
  </div>

  <div class="form-group">
    <label for="tipo">Tipo</label>
    <select class="form-control" [(ngModel)]="cliente.tipo"  name="tipo" id="tipo">
      <option value="fisica">Pessoa física</option>
      <option value="juridica">Pessoa jurídica</option>
    </select>
  </div>

  <!-- <div class="form-group">
    <label for="tipo">Tipo</label>
    <select class="form-control" id="tipo" required>
      <option *ngFor="let tipo of cliente.tipo" [value]="tipo">{{cliente.tipo}}</option>
    </select>
  </div> -->

  <div class="form-group">
    <label for="documento">Documento</label>
    <input type="text" class="form-control" [(ngModel)]="cliente.documento" name="documento" id="documento">
  </div>

  <!-- <ng-container matColumnDef="endereco">
    <th mat-header-cell *matHeaderCellDef> Endereço </th>
    <td mat-cell *matCellDef="let endereco"> {{endereco}} </td>
  </ng-container> -->

  <div class="form-group">
    <div class="col-xs-12">
        <label for="endereco" class="col-sm-2 control-label blue-font" style="width: 100%">Selecione o Endereço:*</label>
        <select class="form-control"  name="endereco" id="endereco" ng-model="endereco">
            <option *ngFor='let enderecos of endereco' [value]="enderecos.id">Id: {{enderecos.id}} Rua: {{enderecos.rua}}, {{enderecos.numero}} - {{enderecos.bairro}}</option>
        </select>
    </div>
  </div>



  <!-- <div class="form-group">
    <table mat-table [dataSource]="cliente$" id="head" class="mat-elevation-z8">
      <ng-container matColumnDef="endereco">
        <label for="endereco">Endereço</label>
        <td mat-cell *matCellDef="let customer">

          {{
            "Logradouro: " +
              customer.endereco.rua +
              " " +
              customer.endereco.numero
          }}
          <br />
          {{ "Bairro: " + customer.endereco.bairro }} <br />
          {{ "Cidade: " + customer.endereco.cidade }} <br />
          {{ "Cep: " + customer.endereco.cep }} <br />
        </td>
      </ng-container>
    </table>
  </div> -->

  <button mat-raised-button (click)="saveCliente()">Salvar </button>
<button  mat-raised-button

>
  Cancelar
</button>
</form>
</mat-card>
