<div class="card">
  <mat-card>
    <mat-toolbar>
      <span class="title-customer-form">Cadastro de Clientes</span>
    </mat-toolbar>

    <mat-card>
      <form action="" class="formD">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cliente.nome"
            name="nome"
            id="nome"
          />
        </div>

        <div class="form-group">
          <label for="tipo">Tipo</label>
          <select
            class="form-control"
            [(ngModel)]="cliente.tipo"
            name="tipo"
            id="tipo"
          >
            <option value="Pessoa física">Pessoa física</option>
            <option value="Pessoa jurídica">Pessoa jurídica</option>
          </select>
        </div>

        <div class="form-group">
          <label for="documento" data-mask="000.000.000-00">Documento</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cliente.documento"
            name="documento"
            id="documento"
          />
        </div>


        <button mat-raised-button (click)="saveCliente()">Salvar</button>
        <button
          mat-raised-button
          [routerLink]="['/home']"
          routerLinkActive="router-link-active">
          Cancelar
        </button>
      </form>
    </mat-card>
  </mat-card>
</div>
