/* edição toll título table */
mat-toolbar{
  width: 80%;
  margin-left: 125px;
  background-color:#70587C;
  color:white;
}

.title-order-list{
  margin-left: 400px;
}


/* edição table*/

table {
  width: 80%;
  margin-left: 125px;

}

th.mat-header-cell {
  text-align: left;
  color:#502F4c;
  font-size: medium;
  background-color:#C8B8DB;
  text-align: center;
}

td.mat-cell{
  text-align: center;
}


/* edição checkbox */
.mat-checkbox {
  margin: 25px;
}

/* edição button */
.mat-raised-button{
  background-color: #C8B8DB;
  margin: 10px;
  padding: 1px;
  }
