<!--<ul>
    <li *ngFor="let item of collection | paginate: { itemsPerPage: 10, currentPage: p }">
        
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-70 w-30">
                <img src="assets\img\produtos\orgulhoepreconceito.jpg" class="img-thumbnail" width=50% height=50%>
                <div class="card-body">
                  <h5 class="card-title">Orgulho e Preconceito</h5>
                  <p class="card-text">Jane Austen</p>
                  <p class="card-text">R$:45,13</p>
                </div>
                <div class="card-footer">
                  <a class="btn btn-primary" href="#" role="button">Comprar</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="assets\img\produtos\ruinasdeminaster.jpg"  class="img-thumbnail" width=50% height=50%>
                <div class="card-body">
                  <h5 class="card-title">Ruínas de Minaster</h5>
                  <p class="card-text">Raianne Viana</p>
                  <p class="card-text">R$ 49,90</p>
          
                </div>
                <div class="card-footer">
                  <a class="btn btn-primary" href="#" role="button">Comprar</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="assets\img\produtos\hibiscoroxo.jpg" class="img-thumbnail" width=50% height=50%>>
                <div class="card-body">
                  <h5 class="card-title">Hibisco Roxo</h5>
                  <p class="card-text">R$ 28,90</p>
                </div>
                <div class="card-footer">
                  <a class="btn btn-primary" href="#" role="button" value=>Comprar</a>
                </div>
              </div>
            </div>
          </div>
          
    
    </li>
</ul>

<pagination-controls (pageChange)="p = $event"></pagination-controls>
-->