<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">

<div class="container">
  <div class="row">
    <div class="col">
      
      <p class="text-start text-break">Genius Livraria delivery é uma livraria online que busca facilitar a compra e entrega de livros de forma simples e fácil, com o melhor custo-benefício. <br>Nosso catálogo possui os mais diversos gêneros literários para agradar todos os públicos e idades, confira mais!</p>

    </div>
    <div class="col">
      <div class="ms-auto p-2 bd-highlight">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="./assets/img/logo.png" width=600px height=300px >
            </div>
            <div class="carousel-item">
              <img src="./assets/img/banner1.png" width=600px height=300px >
            </div>
            <div class="carousel-item">
              <img src="./assets/img/banner2.png" width=600px height=300px >
            </div>
            <div class="carousel-item">
              <img src="./assets/img/banner3.png" width=600px height=300px >
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <a class="btn btn-primary" href="#" role="button">Link</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <a class="btn btn-primary" href="#" role="button">Link</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <a class="btn btn-primary" href="#" role="button">Link</a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

