<mat-card>
  <mat-toolbar>
    <span class="title-product-list">Lista de Produtos</span>
  </mat-toolbar>
  <table [dataSource]="listaItensPedido" mat-table class="mat-elevation-z8">
    <!-- descrição Column -->
    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef>Descrição</th>
      <td mat-cell *matCellDef="let product">{{ product.descricao }}</td>
    </ng-container>

    <!-- valor unitário Column -->
    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef>Valor unitário</th>
      <td mat-cell *matCellDef="let product">{{ product.valor }}</td>
    </ng-container>

    <!-- status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Quantidade</th>
      <td mat-cell *matCellDef="let product">{{ product.quantidade }}</td>
    </ng-container>

    <!-- status Column -->
    <ng-container matColumnDef="valor-total">
      <th mat-header-cell *matHeaderCellDef>Valor Total</th>
      <td mat-cell *matCellDef="let product">{{ product.total }}</td>
    </ng-container>

    <!-- acoes Column -->
    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let product">
        <button mat-raised-button let i="index">Excluir</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div class="container-buttons">
    <button [routerLink]="['/saveOrder']" mat-raised-button>
      Confirmar compra
    </button>
    <button [routerLink]="['/home']" mat-raised-button>Adicionar itens</button>
  </div>
</mat-card>
