<ng-container *ngIf="true">
    <div class="card-table">
        <div class="cart-product">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th>Quantidade</th>
                        <th>Valor total</th>
                    </tr>
                </thead>
                <body>
                    <tr>
                        <td>1</td>
                    </tr>
                </body>
            </table>
        </div>
    </div>


</ng-container>
